#mainform {
  float: left;
  padding: 40px;
  max-width: 600px;
  margin: 40px auto;
  margin-right: 20px;
}

.pietitle {
    text-align:center;
}

.about-page-header {
  text-align: center;
  margin: 0px;
  padding: 20px;
}

#dev-div {
  text-align: center;
}

#dev-profiles {
  list-style: none;
}

#dev-profiles .site-dev {
  display: inline-block;
  margin: 0px;
  padding: 40px;
}

.media-links {
  text-decoration: none;
}

.dev-images {
  height: 200px;
  width: 200px;
  border-radius: 50%;
}

input[type="range"] {
  width: 450px;
}

#about-desc {
  text-align: center;
}

.fa {
  padding: 20px;
  margin: 0px;
  font-size: 30px;
  width: 50px;
  height: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

/* LinkedIn */
.fa-linkedin {
  background: #0077b5;
  color: white;
}

/* Github */
.fa-github {
  background: #2b3137;
  color: white;
}

.dev-name {
  margin: 0px;
  padding: 15px;
}
