#mainform {
  float: left;
  padding: 40px;
  max-width: 600px;
  margin: 40px auto;
  margin-right: 20px;
}


.about-page-header {
    align-items: center;
}
#dev-profiles .site-dev{
    text-align: center;
    display: inline;
    list-style: none;
}

input[type="range"] {
  width:450px;
}