#mainform {
  float: left;
  padding: 40px;
  max-width: 600px;
  margin: 40px auto;
  margin-right: 20px;
}


.about-page-header {
    text-align: center;
    margin: 0px;
    padding: 20px;
}

#dev-div {
    text-align: center;
}

#dev-profiles {
    list-style: none;
}

#dev-profiles .site-dev {
    display: inline-block;
    margin: 0;
    padding: 40px;
}

input[type="range"] {
  width:450px;
}

#about-desc {
    text-align: center;
}